In [1]:
# scrapper 
import requests
from bs4 import BeautifulSoup
import json
import re

import pandas as pd

In [ ]:
def grab_data(day, month):

In [4]:
url = 'https://www.pro-football-reference.com/friv/birthdays.cgi?month=1&day=25'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [16]:
tb = soup.find_all('div', class_ = 'table_wrapper setup_long long')
tr = soup.find_all('tbody')

In [ ]:
soup.find_all("")

In [31]:
trs =tr[0].find_all('tr')

In [53]:
bday = [[td.getText() for td in tr[i].find_all(['th', 'td'])] for i in range(len(tr))]

In [68]:
bday = bday[0]

In [ ]:
for i in range(0,len(bday),27):
    print(bday[i])

In [98]:
bdays = pd.read_csv('birthdays.csv')
bdays.columns = bdays.iloc[0]
bdays = bdays[1:]
bdays = bdays.reset_index(drop=True)
#bdays=bdays.reindex(bdays.index.drop(0))

In [99]:
bdays.head()

,Rk,Player,Pos,Born,From,To,AP1,PB,St,CarAV,...,Sk,Yds,Att,Yds,TD,Lng,Rec,Yds,TD,Lng
0,1,Isaako Aaitui\AaitIs00,NT,1987,2013,2014,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Vito Ananis\AnanVi20,HB-DB,1915,1945,1945,0,0,0,0,...,NaN,NaN,3,8,0,5,NaN,NaN,NaN,NaN
2,3,Charlie Ane\AnexCh00,T-C,1931,1953,1959,0,2,7,0,...,NaN,NaN,0,10,0,10,NaN,NaN,NaN,NaN
3,4,Marco Battaglia\BattMa00,TE,1973,1996,2003,0,0,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,71,660,2,34
4,5,Bob Bell\BellBo20,DT-DE,1948,1971,1978,0,0,4,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# Data Visualization
import seaborn as sns
sns.set(style="darkgrid")
import matplotlib.pyplot as plt 
%matplotlib inline
from matplotlib import style